body{
    font-family: 'Heebo', sans-serif;
}
.initext{
    /* background-image: url('Marca-ITBA-Color-ALTA.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
    background-color: rgba(0, 0, 0, 0.05); 
    border: 5px rgb(0, 0, 0) solid;
    border-radius: 3rem;
    font-size: 24px;
    text-align: center;
}
span ul{
    margin: 180px 90px;
    background-color: antiquewhite;
    background-size: auto;
    text-align: center;
    font-size: 28px;
    list-style-type: none;
    padding-left: 0;
}
.margen{
    color: black;
    background-color: blue;
    margin: 10px;
    padding: 10px;
    border: 5px black solid;
    /* height: 500px; */
    width: 335px;
    overflow: hidden;
}
.initext{
    text-shadow: 2px 4px 6px #00249A;
}
a:link{
    color: blue;
}
a:visited{
    color:blueviolet;
}
a:hover{
    color: rgb(154, 35, 35);
}
a:active{
    color: yellow;
}
.header{
    background-image: url('Marca-ITBA-Color-ALTA.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: right;
    margin: 10px 50px 35px 50px;
    border-bottom: 3px #00249A solid;
    
}