.initext{
    height: 350px;
    background-image: url('Marca-ITBA-Color-ALTA.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.05); 
    border: 5px rgb(0, 0, 0) solid;
    border-radius: 3rem;
    font-size: 24px;
    text-align: center;
}
body{
    font-family: 'Heebo', sans-serif;
}